<!DOCTYPE HTML>
<html>
<head>
    <title>Cloud Adminstrator </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/AssetAdmin/css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="~/Areas/AssetAdmin/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="~/Areas/AssetAdmin/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Areas/AssetAdmin/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="~/Areas/AssetAdmin/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Areas/AssetAdmin/js/wow.min.js"></script>
    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="~/Areas/AssetAdmin/js/metisMenu.min.js"></script>
    <script src="~/Areas/AssetAdmin/js/custom.js"></script>
    <link href="~/Areas/AssetAdmin/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <script src="~/scripts/Inform/Inform.js"></script>


</head>
<body class="cbp-spmenu-push cbp-spmenu-push-toright">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class="sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="@Url.Action("Index","TrangChu")"></i>Trang chính</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs nav_icon"></i>Quản Lý Chủ đề<span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("Index","ChuDeAD")">Danh sách chủ đề</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Add","ChuDeAD")">Thêm mới chủ đề</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index","SachAD")"><i class="fa fa-book nav_icon"></i>Sách<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("Index","SachAD")">Quản Lý Sách<span class="nav-badge-btm"></span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Add","SachAD")">Thêm mới sách</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index","TacGiaAD")"><i class="fa fa-th-large nav_icon"></i>Tác Giả <span class="nav-badge-btm"></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Quản Lý Nhà Xuất Bản<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("Index","NhaXuatBanAD")">Danh sách nhà xuất bản </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Add","NhaXuatBanAD")">Thêm mới nhà xuất bản</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index","KhachHangAD")"><i class="fa fa-table nav_icon"></i>Quản lý Khách Hàng <span class="nav-badge"></span></a>
                        </li>
                        <li>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("Index","KhachHangAD")"> Danh sách khách hàng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SignUp","User")">Thêm mới User</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Hóa Đơn</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("Index","HoaDonAD")">Hóa Đơn</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
            
                    </ul>
                    <div class="clearfix"> </div>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <!--logo -->
                <div class="logo">
                    <a href="/">
                        <h1>Welcome</h1>
                        <span>Hoang Hiep</span>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">
                <div class="profile_details_left">
                    <!--notifications of menu start -->
                    <div class="clearfix"> </div>
                </div>
                <!--notification menu end -->
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="" alt=""> </span>
                                    <div class="user-name">
                                    @if (Session["User"] == null)
                                    {
                                        <p>
                                            Welcome
                                        </p>
                                        <span>Administrator</span>
                                    }
                                    else
                                    {
                                        <p>
                                            Welcome
                                        </p>
                                        <span>@Session["Account"]</span>
                                    }



                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
                <h3 class="title1">@RenderSection("Header", required: true)</h3>
                <div class="blank-page widget-shadow scroll" id="style-2 div1">
                    @RenderBody()

                </div>
            </div>
        </div>
    </div>
    <!-- Classie -->
    <script src="~/Areas/AssetAdmin/js/classie.js"></script>
    <script>
         
            var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            body = document.body;
     
              showLeftPush.onclick = function () {
              
                    classie.toggle(this, 'active');
                    classie.toggle(body, 'cbp-spmenu-push-toright');
                    classie.toggle(menuLeft, 'cbp-spmenu-open');
                    disableOther('showLeftPush');
 
             
			};

			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}


    </script>
    <!--scrolling js-->
    <script src="~/Areas/AssetAdmin/js/jquery.nicescroll.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/scripts/bootstrap.js"></script>
</body>
</html>