@model PagedList.IPagedList<Web_HoangHiep.Models.NhaXuatBan>
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/LayOut/Admin_LayOut.cshtml";
}

@section Header
{
Quản lý Nhà xuất bản
}

<div style="float:right">
    <a class="btn btn-success" href="@Url.Action("Add","NhaXuatBanAD")">Thêm Mới</a>
</div>


@using (Html.BeginForm("Index", "NhaXuatBanAD", FormMethod.Get))
{
    <div class="row " style="margin-bottom:20px;">
        <div class="col-lg-12">
            <div class="col-md-4">

                <input class="form-control" name="searchString" type="text" placeholder="Search..." value="@ViewBag.SearchString">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-md btn-default">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
          
        </div>
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align: center">Tên Nhà Xuất Bản</th>
            <th style="text-align: center">Địa Chỉ</th>
            <th style="text-align: center">Điện Thoại</th>
            <th style="text-align: center">Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
      
            <tr>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.TenNXB)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td style="text-align: center" >
                   <a href="@Url.Action("Edit", "NhaXuatBanAD", new { id = item.MaNXB })" ><i class="glyphicon glyphicon-edit" ></i></a>
                    &nbsp; 
                   <a href="@Url.Action("DeleleNXB", "NhaXuatBanAD", new { id = item.MaNXB })"><i class="glyphicon glyphicon-trash"></i></a> 
             
                   </td>
            </tr>
        }

    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
