@model Web_HoangHiep.Models.Sach

<script src="~/Content/JS_Customer/ChiNhapSojs.js"></script>
<link href="~/Content/CSSAdmin/SachAD.css" rel="stylesheet" />


@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/LayOut/Admin_LayOut.cshtml";
}


@section Header{
  Thêm mới sản phẩm
}

@using (Html.BeginForm("Add", "SachAD", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.ThongBao</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
        <div class="form-group">
            @Html.Label("Tên sách", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giá bán", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="GiaBan" type="number" class="form-control" />
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ảnh bìa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload">
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ngày cập nhật", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số lượng tồn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nhà xuất bản", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaChuDe")

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chủ Đề", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNXB")

            </div>
        </div>


        <div class="form-group">
            @Html.Label("Loại sách", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Moi" class="form-control">
                    <option value="True">Mới</option>
                    <option value="False">Cũ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Save" class="btn btn-success btn-md">
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Save
                </button>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
