@model Web_HoangHiep.Models.Sach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/LayOut/Admin_LayOut.cshtml";
}
<link href="~/Content/CSSAdmin/SachAD.css" rel="stylesheet" />
@section Header
{
Chỉnh sửa sản phẩm
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="alert alert-danger hide">@ViewBag.ThongBao</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSach)

        <div class="form-group">
            @Html.Label("Tên sách", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giá bán", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                <input name="GiaBan" type="number" class="form-control" value="@Model.GiaBan" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ảnh Bìa", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                <input type="text" name="AnhBia" value="@Model.AnhBia" class="form-control">
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ngày cập nhật", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                 <input name="NgayCapNhat" class="form-control" value="@Model.NgayCapNhat">
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số lượng tồn", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mã Chủ Đề", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.DropDownList("MaChuDe")
         
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Mã Nhà xuất bản", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.DropDownList("MaNXB")
          
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Loại sách", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                <div class="checkbox">
                    <select name="Moi" class="form-control">
                        <option value="True">Mới</option>
                        <option value="False">Cũ</option>
                    </select>
                  </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Save"class="btn btn-success btn-md" >
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Save
                </button>
               
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
