
<!DOCTYPE html>
<html>
<head>
    <title>Shopping Web </title>
    <link href="~/AssetsClient/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="~/AssetsClient/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="~/AssetsClient/js/jquery.min.js"></script>
    <!--script-->
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="top-header-left">
                    <ul class="support">
                        <li><a href="#"><label> </label></a></li>
                        <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                    </ul>
          
                    <div class="clearfix"> </div>
                </div>
              @{ Html.RenderAction("HeaderCart", "Home");}
                <!---------------------------------------------->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="bottom-header">
            <div class="container">
                <div class="header-bottom-left">
                    <div class="logo">
                        <a href="/" ref="nofollow"><img src="~/AssetsClient/images/logo.png" alt="" /></a>


                    </div>
                    @using (Html.BeginForm("Search","Search",FormMethod.Post))
                    {
                        <div class="search">
                             <input type="text" name="txtSearching"  placeholder="Search ..."  autofocus/>
                            <input type="submit" value="SEARCH" >

                        </div>
                    }
                   
                    <div class="clearfix"> </div>
                </div>
               
                <div class="header-bottom-right">

                    <div class="account"><a href="/"><span> </span>Home</a></div>
                    @if (Session["KhachHang"] == null)
                    {
                        <ul class="login">
                            <li><a href="/dang-nhap"><span> </span>LOGIN</a></li> |
                            <li><a href="/dang-ky">SIGNUP</a></li>
                        </ul>
                    }
                    else

                    {
                        <ul class="login">
                            <li><a href="/"><span> </span>@Session["UserName"]</a></li> |
                            <li><a href="/dang-xuat">SIGNOUT</a></li>
                        </ul>
                    }



                    <div class="cart"><a href="/gio-hang"><span> </span>CART</a></div>
                    <div class="clearfix"> </div>


                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="container">
        <div class="shoes-grid">
            @RenderSection("slide",required:false)
            @RenderBody()
         </div>

     <!--SlideBar-->
    <div class="sub-cate">
   @{Html.RenderAction("SlideBarLeft", "Home");}

        <!--initiate accordion-->
        <script type="text/javascript">
			$(function() {
           var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
           menu_ul.hide();
           menu_a.click(function(e) {
               e.preventDefault();
               if(!$(this).hasClass('active')) {
                   menu_a.removeClass('active');
                   menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
               } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
               }
           });

       });
        </script>
        @Html.Action("SieuPhamSach","Sach")

    </div>
    <div class="clearfix"> </div>
    </div>

    <!---->
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="latter">
                  
                    <div class="sub-left-right">
                  
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="latter-right">
                    <p>Follow us</p>
                    <ul class="face-in-to">
                        <li><a href="#"><span> </span></a></li>
                        <li><a href="#"><span class="facebook-in"> </span></a></li>
                  
                    </ul>
                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    @RenderSection("jsFooter", required: false);
</body>
</html>
